	<div class="explanation">
		<p>你可以用shark-automation把构建好的资源推到git仓库中去。</p>
        	<pre><code class="language-markup">
var gulp = require('gulp'),
    runSequence = require('run-sequence'),
    sharkAutomation = require('shark-automation');
var config = require('./shark-deploy-conf.js'); //config file
gulp.task('deploy', function (cb) {
    sharkAutomation.registerDeployTasks({
        baseConf: config,
        gulp: gulp
    });
    runSequence(
        'shark-deploy',
        cb
    );
});
</code></pre>
	</div>

