<!DOCTYPE html>
<html lang="en">

<% include layout/head.html%>
    <body class="fix-head">
        <%- headContent %>
            <div class="g-bd side-in-right">
                <div class="g-side">
                    <div class="bs-docs-sidebar">
                        <ul class="nav nav-stacked" id="sideNav">
                            <li><a href="#head">回到顶部</a></li>
                            <li><a href="#install">安装</a></li>
                            <li><a href="#configFile">配置文件说明</a></li>
                            <li><a href="#mockServer">mock-server</a></li>
                            <li><a href="#buildTask">build-tasks</a></li>
                            <li><a href="#depolyTask">deploy-task</a></li>
                            <li><a href="#configModule">自定义npm包配置</a></li>
                            <li><a href="#other">其它说明</a></li>
                        </ul>
                    </div>
                </div>
                <div class="g-content">
                    <h1 id ="head" class="page-header">前端自动化构建工具 Shark-automation</h1>

                    <h1 id="install" class="page-header">安装</h1>
                    <% include components/install-type.html %>

                    <h1 id="configFile" class="page-header">配置文件及配置项说明</h1>
                    <% include components/config-file.html %>

                    <h1 id="mockServer" class="page-header">mock-server</h1>
                    <% include components/mock-server.html %>

                    <h1 id="buildTask" class="page-header">build-tasks</h1>
                    <% include components/build-task.html %>

                    <h1 id="depolyTask" class="page-header">deploy-task</h1>
                    <% include components/depoly-task.html %>

                    <h1 id="configModule" class="page-header">自定义npm包配置</h1>
                    <% include components/config-module.html %>

                    <h1 id="other" class="page-header">关于可能出现gulp-imagemin报错的处理说明</h1>
                    <% include components/other.html %>
                </div>
            </div>
            <% include layout/foot.html%>
    </body>

</html>